@charset 'utf-8';

body {
	background-image: url(../images/paper1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
}

main {
	width: 70%;
	margin: 0 auto 60px;	
}

#aside_bar {
	position: fixed;
	top: 20vh;
	left: 10%;
	width: 8em;
	margin: 30px auto;
	background-image: url(../images/bookmark02.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-ms-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

#aside_bar:hover {
	background-image: url(../images/bookmark05.jpg);
}

#aside_bar> ul {
	margin: 1.2em auto;
}
#aside_bar li {
	display: block;
	text-align: center;
	height: 2em;
}

#aside_bar a {
	font-size: 1.2em;
	color: black;
}
#aside_bar a:hover {
	color: darkred;
	font-size: 1.3em;
}
article {
	margin: 0 auto;
	width: 60%;
}

h1, h2 {
	font-family: "楷体";
}
h1 {
	margin: 1em auto 0;
	text-align: center;
}
section {
	border: 0.5px solid black;
	border-radius: 1em;
	margin: 30px auto;
	padding: 1em 2em;
	background-color: rgba(255, 255, 255, .7);
}

#experience dt {
	margin-top: 10px;
} 

#feature p {
	margin-top: 10px;
}

.dome {
	margin: 1em auto 0;
}
.dome a {
	color: black;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 0 !important;
	z-index: 1;
}
.dome .cover {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1.5em;
	text-align: center;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
}

#dome01, #dome02 {
	position: relative;
	display: inline-block;
	width: 14.4em;
	height: 8.1em;
	border: 1px solid black;
}
#dome01 {
	margin-right: 2em;
}
#dome .bg-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: contain;
	background-size: contain;
}
#dome01 .bg-image {
	background-image: url(../images/dome01.png);
}
#dome02 .bg-image {
	background-image: url(../images/dome02.png);
}

.video-module {
	position: relative;
	width: 100%;
}
.iframe-box {
	position: relative;
	margin: 30px auto;
	width: 100%;
	padding-bottom: 56.25%;
}
iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-title {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1.8em;
	text-align: center;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
}
.video-title p {
	vertical-align: middle;
	line-height: 1.8em;

} 
.video-title a:hover {
	color: white;
}

footer {
	position: fixed;
	width: 100%;
	height: 1.5em;
	background-color: rgba(0, 0, 0, 0.3);
	bottom: 0;
	left: 0;
	text-align: center;

}
#wx {
	display: none;
}
footer img {
	position: fixed;
	bottom: 1.5em;
	left: 55%;
	width: 200px;
	z-index: 2;
}
footer a {
	color: black;
}
footer a:hover {
	color: white;
}
footer span:hover {
	color: white;
}

@media screen and (max-width: 720px) {
	main {
		width: 100%;
	}
	article {
		width: 90%;
	}
	aside {
		display: none;
	}
}
