@charset 'utf-8';

nav {
	text-align: center;
	height: 2em;
	background-color: rgba(33, 44, 22, 0.3);
}

nav ul {
	list-style-type: none;
	display: inline-block;
	letter-spacing: -0.5em;
}

nav li {
	display: inline-block;
	letter-spacing: normal;
	width: 6em;
	height: 2em;
	line-height: 2em;
	border-right: 1px solid white;
}

nav li:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

nav ul>:first-child {
	border-left: 1px solid white;
}